<ion-view class="rgbg">
    <ion-content>
         <div class="center-block w-xxl w-auto-xs p-v-md">
    <div class="navbar">
      <div class="navbar-brand text-center">
        <span class="inline white">Bear</span>
      </div>
    </div>

    <div class="p-lg panel md-whiteframe-z1 text-color m">
      <div class="m-b text-sm">
        Sign in with your Bear Account
      </div>
      <form name="loginForm">
        <div class="md-form-group float-label">
          <input type="text" class="md-input" ng-model="login.data.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required autocomplete="off" require>
          <label>Email</label>
        </div>
        <div class="md-form-group float-label">
          <input type="password" class="md-input" ng-model="login.data.password" required>
          <label>Password</label>
        </div>
        <button md-ink-ripple type="submit" class="md-btn md-raised pink btn-block p-h-md" ng-click="login.login()"> <span ng-show="login.loginSpinner"><i class="fa fa-spin fa-spinner"></i></span>SIGN IN</button>
        <h5 class="text-center">OR</h5>
        <button md-ink-ripple type="submit" class="md-btn md-raised blue btn-block p-h-md" ui-sref="register">SIGN UP</button>
      </form>
    </div>
    </div>
        <!-- <div class="reg_bg">
        <div class='reg_main'>
            <div class='reg_container'>
              Login
            </div>
            <div class='reg_form_con'>
                <div class="list">
                 
                    <label class="item item-input item-floating-label myitem">
                        <span class="input-label">Email</span>
                        <input type="email" ng-model="user.email" placeholder="Email">
                    </label>
                    <label class="item item-input item-floating-label myitem">
                        <span class="input-label">Password</span>
                        <input type="password" ng-model="user.password" placeholder="Password">
                    </label>
                   
                </div>
                <div class='reg_bt'>
                    <button class="button mybtn button-positive" ng-click="login()">
                        Login
                    </button>
                </div>

            </div>
        </div>
             <div class="clear"></div>
        </div> -->
    </ion-content>
</ion-view> 