<ion-view class="rgbg">
    <ion-content>
        <div class="reg_bg">
        <div class='reg_main'>
            <div class='reg_container'>
              Login
            </div>
            <div class='reg_form_con'>
                <div class="list">
                 
                    <label class="item item-input item-floating-label myitem">
                        <span class="input-label">Email</span>
                        <input type="email" ng-model="user.email" placeholder="Email">
                    </label>
                    <label class="item item-input item-floating-label myitem">
                        <span class="input-label">Password</span>
                        <input type="password" ng-model="user.password" placeholder="Password">
                    </label>
                   
                </div>
                <div class='reg_bt'>
                    <button class="button mybtn button-positive" ng-click="login()">
                        Login
                    </button>
                </div>

            </div>
        </div>
             <div class="clear"></div>
        </div>
    </ion-content>
</ion-view> 